[Desktop Entry]
Encoding=UTF-8
Name=Transcendence
Comment=Transcendence P2P Cryptocurrency
Comment[fr]=Transcendence, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Transcendence, eşten eşe kriptografik sanal para birimi
Exec=transcendence-qt %u
Terminal=false
Type=Application
Icon=transcendence128
MimeType=x-scheme-handler/transcendence;
Categories=Office;Finance;
